In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../model_answer_result/gpt-4/pass1/gpt-4_python_pass1.csv")
no_pass_task_list = data[data['result_return_code'] !=0]
no_pass_task_list

     task_id  result_return_code  model
44        64                   1  gpt-4
50        72                   1  gpt-4
57        79                   1  gpt-4
67       215                   1  gpt-4
72       224                   1  gpt-4
..       ...                 ...    ...
366      205                   1  gpt-4
379      361                   1  gpt-4
384      592                   1  gpt-4
389      599                   1  gpt-4
391      603                   1  gpt-4

[67 rows x 3 columns]

In [5]:
id_list  = no_pass_task_list['task_id'].unique().tolist()
len(id_list)

67