In [35]:
import pandas as pd

In [36]:
# MODEL_NAME ="codegeex4-all-9b"
# MODEL_NAME ="deepseek-coder-6.7b-instruct"
MODEL_NAME ="CodeLlama-7b-hf"
# MODEL_NAME ="Mistral-7B-Instruct-v0.3"
# MODEL_NAME = "chatglm-6b"
# MODEL_NAME = "gpt-4"
# MODEL_NAME = "codegen25-7b-instruct_P"
LANGUAGE = "java"
TYPE = "pass10"

FILE_PATH = rf"E:\code\code_back\python_project\RealisticEval-Data\analysis\model_answer_result\{MODEL_NAME}\{TYPE}\{MODEL_NAME}_{LANGUAGE}_{TYPE}.xlsx"

In [37]:
data = pd.read_excel(FILE_PATH)
data

      task_id  result_return_code  CodeLlama-7b-hf  answer_index
0           5                   0  CodeLlama-7b-hf             9
1           5                   0  CodeLlama-7b-hf             9
2           5                   0  CodeLlama-7b-hf             9
3           5                   0  CodeLlama-7b-hf             9
4           5                   0  CodeLlama-7b-hf             9
...       ...                 ...              ...           ...
3385      606                   0  CodeLlama-7b-hf             9
3386      606                   0  CodeLlama-7b-hf             9
3387      606                   0  CodeLlama-7b-hf             9
3388      606                   0  CodeLlama-7b-hf             9
3389      606                   0  CodeLlama-7b-hf             9

[3390 rows x 4 columns]

In [38]:
task_id_list = data["task_id"].unique().tolist()
task_id_list

[5,
 6,
 8,
 9,
 11,
 12,
 13,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 31,
 35,
 36,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 52,
 54,
 55,
 56,
 58,
 59,
 60,
 62,
 64,
 65,
 67,
 68,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 83,
 84,
 86,
 214,
 215,
 219,
 220,
 224,
 226,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 241,
 242,
 244,
 248,
 250,
 256,
 259,
 260,
 262,
 263,
 264,
 267,
 268,
 269,
 281,
 282,
 286,
 290,
 291,
 369,
 370,
 380,
 381,
 386,
 390,
 392,
 395,
 396,
 401,
 404,
 405,
 406,
 410,
 413,
 420,
 423,
 424,
 427,
 430,
 431,
 433,
 444,
 445,
 451,
 460,
 462,
 465,
 468,
 469,
 470,
 471,
 474,
 475,
 476,
 482,
 483,
 485,
 486,
 487,
 488,
 490,
 492,
 493,
 494,
 495,
 496,
 498,
 499,
 500,
 501,
 505,
 506,
 507,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 546,
 547,
 551,
 552,
 555,
 557,
 558,
 87,
 88,
 89,
 92,
 93,
 95,
 96,
 97,
 99,
 100,
 101,
 103,
 106,
 107,
 108,
 110,
 112,
 116,
 117,
 118,
 121,
 122,
 123,
 124,
 125,
 129,
 130,
 133,
 134,
 135,
 138,
 139,
 292,
 298,
 299,
 315,
 317,
 318,
 319,
 320,
 322,
 323,
 326,
 447,
 450,
 528,
 529,
 530,
 532,
 533,
 534,
 535,
 536,
 537,
 540,
 541,
 542,
 543,
 544,
 545,
 559,
 560,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 150,
 151,
 153,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 165,
 166,
 167,
 168,
 169,
 331,
 334,
 341,
 342,
 565,
 566,
 567,
 569,
 571,
 575,
 576,
 577,
 578,
 581,
 582,
 583,
 584,
 585,
 586,
 170,
 173,
 174,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 348,
 349,
 350,
 351,
 352,
 609,
 610,
 611,
 612,
 614,
 615,
 616,
 617,
 623,
 625,
 626,
 628,
 630,
 631,
 632,
 633,
 183,
 184,
 187,
 188,
 189,
 190,
 191,
 196,
 197,
 198,
 200,
 202,
 203,
 204,
 206,
 207,
 209,
 210,
 354,
 355,
 356,
 357,
 358,
 365,
 481,
 589,
 590,
 592,
 594,
 595,
 597,
 598,
 599,
 601,
 603,
 604,
 605,
 606]

In [39]:
import numpy as np
def pass_at_k(n, c, k):
    """
    计算 pass@k 指标的无偏估计。

    :param n: 样本的总数
    :param c: 正确样本的数量
    :param k: pass@k 中的 k 值
    :return: pass@k 的无偏估计
    """
    if n - c < k:  # 如果错误样本的数量少于 k
        return 1.0  # 直接返回 1.0，表示所有问题都被认为是解决的

    # 计算 pass@k 的无偏估计
    return 1.0 - np.prod(1.0 - k / np.arange(n - c + 1, n + 1))
for K in [3,5]:
    pass_value_list = []
    for task_id in task_id_list:
        result = data[data['task_id'] == task_id]
        n = len(result)
        c = len(result[result['result_return_code'] == 0])
        passk_value = pass_at_k(n,c,k=K)
        pass_value_list.append({"task_id":task_id,f"pass_{K}":passk_value})
    df_data = pd.DataFrame(pass_value_list)
    df_data.to_csv(rf"E:\code\code_back\python_project\RealisticEval-Data\analysis\model_answer_result\{MODEL_NAME}\{TYPE}\{MODEL_NAME}_{LANGUAGE}_pass{K}_value.csv")